body{background-image:url(pz.jpg);

     background-size:100%;
     background-repeat:no-repeat;
     background-color:black;
     z-index:1;
}


div{ 
text-shadow:-4px 4px 6px dimgrey;
 color:white;
position:absolute;
top:100px;
left:850px;
font-style:italic;
font-size:1em;

 z-index:2;}

.x{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
width:100px;
height:40px;
z-index:3;}

.y{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
width:100px;
height:40px;
z-index:4;}

img{
position: absolute;
top:380px;
left:300px;
 z-index:5;}

.z{position: absolute;
top:290px;
left:830px;
 z-index:5;}




@media all{
body{background-image:url(pz.jpg);

     background-size:100%;
     background-repeat:no-repeat;
     background-color:black;
     z-index:1;
}


div{ 

 color:white;
position: absolute;
top:140px;
left:850px;
font-style:italic;
font-size:1em;

 z-index:2;}

.x{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:20px;
width:100px;
height:40px;
z-index:3;}

.y{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:150px;
width:100px;
height:40px;
z-index:4;}

img{
position: absolute;
top:380px;
left:300px;
 z-index:5;}}
@media screen and(max-width:576px) {
body{background-image:url(pz.jpg);

     background-size:100%;
     background-repeat:no-repeat;
     background-color:black;
     z-index:1;
}


div{ 

 color:white;
position: absolute;
top:240px;
left:850px;
font-style:italic;
font-size:1.4em;

 z-index:2;}

.x{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:20px;
width:100px;
height:40px;
z-index:3;}

.y{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:150px;
width:100px;
height:40px;
z-index:4;}

img{
position: absolute;
top:380px;
left:300px;
 z-index:5;}}


 
@media screen and (max-width:768px) {
body{background-image:url(pz.jpg);

     background-size:100%;
     background-repeat:no-repeat;
     background-color:black;
     z-index:1;
}


div{ 

 color:white;
position: absolute;
top:240px;
left:850px;
font-style:italic;
font-size:1.4em;

 z-index:2;}

.x{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:20px;
width:100px;
height:40px;
z-index:3;}

.y{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:150px;
width:100px;
height:40px;
z-index:4;}

img{
position: absolute;
top:380px;
left:300px;
 z-index:5;}}
@media screen and(max-width:992px) {
body{background-image:url(pz.jpg);

     background-size:100%;
     background-repeat:no-repeat;
     background-color:black;
     z-index:1;
}


div{ 

 color:white;
position: absolute;
top:240px;
left:850px;
font-style:italic;
font-size:1.4em;

 z-index:2;}

.x{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:20px;
width:100px;
height:40px;
z-index:3;}

.y{
text-shadow:-4px 4px 6px dimgrey;
border-radius:20px;
font-family:impact;
font-style:italic;
font-size:1em;
position: absolute;
top:360px;
left:150px;
width:100px;
height:40px;
z-index:4;}

img{
position: absolute;
top:380px;
left:300px;
 z-index:5;}}
