@import url(//fonts.googleapis.com/css?family=Acme);

/* somaya */
* {
    font-family: "Acme";
}
/* body{
    background-color: #f7fafe !important;
} */

.navbar{
 background-color: white !important;
}

main{
    background-color: #f7fafe !important;
}

.Pizza{
    font-size: 1.6rem;
    /* vertical-align: middle; */
}
.nav-item{
  text-decoration: none;
  color: black; 
  font-size: 1.2rem;
}
.nav-item:hover , .copyright ,.copyright:hover{
    color:rgb(122, 20, 20) ;
}

#banner{
    background-image: url("../Media/BackGroundPizza.jpg");
    background-size: cover;
    height: 500px;
    background-position: 50% 50%;
    color: white;
}

.sec-heder{
    padding-top: 130px;
}

.menuBtn{
    background-color: rgb(122, 20, 20) !important;
    border: none !important;
}

.description{
    font-size: 1.1rem;
}

.headerTitle{
    font-size: 3rem;
}


/* Nora  */
.cc-nora {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

.c-nora {
    flex: 1;
    margin: 10px;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.c-nora img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 14.5rem;
}

.c-content-nora {
    padding: 7px;
}

.name {
    font-weight: bold;
    color: maroon;
    text-align: center;
}

.social-media img {
    margin: 5px;
    width: 30px;
    height: 30px;
}


